In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import cross_val_score

import statsmodels.api as sm

import matplotlib.pyplot as plt
import seaborn as sns

# to ignore warnings
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [2]:
# 5. In Chapter 4, we used logistic regression to predict the probability of default using income and balance 
# on the Default data set. We will now estimate the test error of this logistic regression model using the 
# set approach. Do not forget to set a random seed before beginning your analysis.

default = pd.read_csv('/home/abhishek/Desktop/ISLR-Applied-Exercises-in-Python/data/Default.csv')
print(default.shape)

default.head()

(10000, 4)

  default student      balance        income
0      No      No   729.526495  44361.625074
1      No     Yes   817.180407  12106.134700
2      No      No  1073.549164  31767.138947
3      No      No   529.250605  35704.493935
4      No      No   785.655883  38463.495879

In [3]:
encoding_dict = {'Yes':1, 'No': 0}
default['default'] = default['default'].map(encoding_dict)
default.head()

   default student      balance        income
0        0      No   729.526495  44361.625074
1        0     Yes   817.180407  12106.134700
2        0      No  1073.549164  31767.138947
3        0      No   529.250605  35704.493935
4        0      No   785.655883  38463.495879

In [4]:
# (a) Fit a logistic regression model that uses income and balance to predict default.

lr = LogisticRegression().fit(default[['income', 'balance']], default['default'])

pred = lr.predict(default[['income', 'balance']])
print(f"Train accuracy is: {accuracy_score( default['default'], pred)}")

Train accuracy is: 0.9737

In [5]:
# (b) Using the validation set approach, estimate the test error of this model.

# splitting the data into train and test
X_train,X_valid,y_train,y_valid = train_test_split(default.drop(['default','student'],axis = 1),default['default'],test_size = 0.3,
                                                  random_state = 0)
print('Shape of X_train ',X_train.shape)
print('Shape of X_valid ',X_valid.shape)

Shape of X_train  (7000, 2)
Shape of X_valid  (3000, 2)

In [6]:
# fit logistic regression on training data
lr = LogisticRegression().fit(X_train, y_train)

pred = lr.predict(X_valid)

In [7]:
# computing the validation error
print('Validation error is ', 1 - accuracy_score(pred,y_valid))

Validation error is  0.02733333333333332

In [8]:
# (c) Repeat the process in (b) three times, using three different splits of the observations into a training 
# set and a validation set. Comment on the results obtained.

# random_state = 1
# splitting the data into train and test
X_train,X_valid,y_train,y_valid = train_test_split(default.drop(['default','student'],axis = 1),default['default'],test_size = 0.3,
                                                  random_state = 1)
print('Shape of X_train ',X_train.shape)
print('Shape of X_valid ',X_valid.shape)

# fit the logisitc regression on training data
lr = LogisticRegression()
lr.fit(X_train,y_train)

# obtain the predictions
pred = lr.predict(X_valid)

# computing the validation error
print('Validation error is ', 1 - accuracy_score(pred,y_valid))

Shape of X_train  (7000, 2)
Shape of X_valid  (3000, 2)
Validation error is  0.024666666666666615

In [9]:
# random_state = 5
# splitting the data into train and test
X_train,X_valid,y_train,y_valid = train_test_split(default.drop(['default','student'],axis = 1),default['default'],test_size = 0.3,
                                                  random_state = 5)
print('Shape of X_train ',X_train.shape)
print('Shape of X_valid ',X_valid.shape)

# fit the logisitc regression on training data
lr = LogisticRegression()
lr.fit(X_train,y_train)

# obtain the predictions
pred = lr.predict(X_valid)

# computing the validation error
print('Validation error is ', 1 - accuracy_score(pred,y_valid))

Shape of X_train  (7000, 2)
Shape of X_valid  (3000, 2)
Validation error is  0.03400000000000003

In [10]:
# random_state = 10
# splitting the data into train and test
X_train,X_valid,y_train,y_valid = train_test_split(default.drop(['default','student'],axis = 1),default['default'],test_size = 0.3,
                                                  random_state = 10)
print('Shape of X_train ',X_train.shape)
print('Shape of X_valid ',X_valid.shape)

# fit the logisitc regression on training data
lr = LogisticRegression()
lr.fit(X_train,y_train)

# obtain the predictions
pred = lr.predict(X_valid)

# computing the validation error
print('Validation error is ', 1 - accuracy_score(pred,y_valid))

Shape of X_train  (7000, 2)
Shape of X_valid  (3000, 2)
Validation error is  0.037666666666666626

In [11]:
# (d) Now consider a logistic regression model that predicts the probability of default using income, balance, 
# and a dummy variable for student. Estimate the test error for this model using the validation set approach. 
# Comment on whether or not including a dummy variable for student leads to a reduction in the test error rate.

default['student'] = default['student'].map(encoding_dict)

In [12]:
default.head()

   default  student      balance        income
0        0        0   729.526495  44361.625074
1        0        1   817.180407  12106.134700
2        0        0  1073.549164  31767.138947
3        0        0   529.250605  35704.493935
4        0        0   785.655883  38463.495879

In [13]:
X_train, X_val, y_train, y_val = train_test_split(default.drop(['default'], axis = 1), default['default'], test_size = 0.3, random_state = 0)

print(f"Shape of X_train: {X_train.shape}")
print(f"Shape of X_valid: {X_val.shape}")

# fit logit_reg
lr = LogisticRegression().fit(X_train, y_train)

pred = lr.predict(X_val)
print('Validation error is ', 1 - accuracy_score(y_val, pred))

Shape of X_train: (7000, 3)
Shape of X_valid: (3000, 3)
Validation error is  0.036666666666666625

In [14]:
# 6. We continue to consider the use of a logistic regression model to predict the probability of default 
# using income and balance on the Default data set. In particular, we will now compute estimates for the 
# standard errors of the income and balance logistic regression coefficients in two different ways: (1) using 
# the bootstrap, and (2) using the standard formula for computing the standard errors in the glm() function. 
# Do not forget to set a random seed before beginning your analysis.

print(default.shape)
default.head()

(10000, 4)

   default  student      balance        income
0        0        0   729.526495  44361.625074
1        0        1   817.180407  12106.134700
2        0        0  1073.549164  31767.138947
3        0        0   529.250605  35704.493935
4        0        0   785.655883  38463.495879

In [41]:
# (a) Using the summary() and glm() functions, determine the estimated standard errors for the coefficients 
# associated with income and balance in a multiple logistic regression model that uses both predictors.

X = default[['balance', 'income']]
X = sm.add_constant(X)

y = default['default']

results = sm.Logit(y,X).fit()
print(results.summary())

Optimization terminated successfully.
         Current function value: 0.078948
         Iterations 10
                           Logit Regression Results
==============================================================================
Dep. Variable:                default   No. Observations:                10000
Model:                          Logit   Df Residuals:                     9997
Method:                           MLE   Df Model:                            2
Date:                Fri, 06 Nov 2020   Pseudo R-squ.:                  0.4594
Time:                        10:45:40   Log-Likelihood:                -789.48
converged:                       True   LL-Null:                       -1460.3
Covariance Type:            nonrobust   LLR p-value:                4.541e-292
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -11.5405      0.435    -26.544      0.000     -12.393     -10.688
balance        0.0056      0.000     24.835      0.000       0.005       0.006
income      2.081e-05   4.99e-06      4.174      0.000     1.1e-05    3.06e-05
==============================================================================

Possibly complete quasi-separation: A fraction 0.14 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.

In [16]:
# std error for balance = 0, std error for incomes = 4.99e-06

In [42]:
# (b) Write a function, boot.fn(), that takes as input the Default data set as well as an index of the 
# observations, and that outputs the coefficient estimates for income and balance in the multiple logistic 
# regression model.

 
def boot_fn(data, index):
    X = data[['balance', 'income']].loc[index]
    y = data['default'].loc[index]
    
    lr = LogisticRegression().fit(X,y)
    
    intercept = lr.intercept_
    coef_balance = lr.coef_[0][0]
    coef_income = lr.coef_[0][1]
    
    return [intercept, coef_balance, coef_income]

In [43]:
# to get random indices of given size, since the classes are imbalanced, we want the random indeces to 
# contain both the classes, otherwise it will produce an error, as model can't train if all observations 
# belong to one class


def get_indices(data, num_samples):
    positive_data = data[data['default'] == 1]
    negative_data = data[data['default'] == 0]
    
    positive_indices = np.random.choice(positive_data.index, int(num_samples/4), replace=True)
    negative_indices = np.random.choice(negative_data.index, int(3*num_samples/4), replace=True)
    
    total = np.concatenate([positive_indices, negative_indices])
    
    np.random.shuffle(total)
    
    return total

In [44]:
positive_data = default[default['default'] == 1]
negative_data = default[default['default'] == 0]

In [45]:
print(len(positive_data), len(negative_data))

333 9667

In [46]:
get_indices(default, 100)

array([8539, 3381, 8002, 7697,  675, 3853, 9279, 1381, 8820, 7320, 2244,
       8364,    5, 3876, 8939, 2308,  969, 4666, 7426, 7776, 8463,  570,
       6542, 5408, 8705, 8652, 4716, 7428, 3523, 3123, 2010, 8677, 3110,
       1609, 3550,  207, 4417, 5108, 4589, 5535, 4469, 2706, 1359, 5652,
       4634, 9764, 8738, 5787, 9477, 9590,  999, 1160, 3041, 2210, 7581,
       7937, 3486, 9328, 7683,  753, 3092, 4680, 1274, 2391, 2180, 3162,
       8870, 9422, 6591,  341, 1401, 3984, 6128, 3957,  232, 4688, 7284,
        803, 4976, 8222, 8792, 3465, 2694, 7367, 6225, 1701, 9450, 8059,
       2002, 8530, 9535, 9682, 2663, 8155, 5432, 1027, 1738, 3544,  761,
       3317])

In [47]:
# example - 
intercept,coef_balance,coef_income = boot_fn(default,get_indices(default,100))
print(f'Intercept is {intercept}, the coeff of balance is {coef_balance} , the coeff for income is {coef_income} ')

Intercept is [-9.35700929], the coeff of balance is 0.005989268036533879 , the coeff for income is 6.84854671656458e-06

In [48]:
# (c) Use the boot() function together with your boot.fn() function to estimate the standard errors of the 
# logistic regression coefficients for income and balance.

def boot(data, func, R):
    intercept = []
    coeff_balance = []
    coeff_income = []
    
    for i in range(R):
        [inter, balance, income] = func(data, get_indices(data, 100))
        intercept.append(float(inter))
        coeff_balance.append(balance)
        coeff_income.append(income)
    
    intercept_statistics = {'estimated_value': np.mean(intercept), 'std_error': np.std(intercept)}
    balance_statistics = {'estimated_value': np.mean(coeff_balance), 'std_error': np.std(coeff_balance)}
    income_statistics = {'estimated_value': np.mean(coeff_income), 'std_error': np.std(coeff_income)}
    
    return {'intercept': intercept_statistics, 'balance_statistics': balance_statistics, 'income_statistics': income_statistics}

In [49]:
results = boot(default, boot_fn, 1000)

In [50]:
print('Balance - ', results['balance_statistics'])
print('Income - ', results['income_statistics'])

Balance -  {'estimated_value': 0.0031487498890436704, 'std_error': 0.0024130115455771334}
Income -  {'estimated_value': -4.7365889038438616e-05, 'std_error': 5.32159721476787e-05}

In [51]:
# we can see that the standard errors obtained from model and from boostrap are similar

In [52]:
# 7. In Sections 5.3.2 and 5.3.3, we saw that the cv.glm() function can be used in order to compute the 
# LOOCV test error estimate. Alternatively, one could compute those quantities using just the glm() and 
# predict.glm() functions, and a for loop. You will now take this approach in order to compute the LOOCV 
# error for a simple logistic regression model on the Weekly data set.

weekly = pd.read_csv('/home/abhishek/Desktop/ISLR-Applied-Exercises-in-Python/data/Weekly.csv')
print(weekly.shape)
weekly.head()

(1089, 9)

   Year   Lag1   Lag2   Lag3   Lag4   Lag5    Volume  Today Direction
0  1990  0.816  1.572 -3.936 -0.229 -3.484  0.154976 -0.270      Down
1  1990 -0.270  0.816  1.572 -3.936 -0.229  0.148574 -2.576      Down
2  1990 -2.576 -0.270  0.816  1.572 -3.936  0.159837  3.514        Up
3  1990  3.514 -2.576 -0.270  0.816  1.572  0.161630  0.712        Up
4  1990  0.712  3.514 -2.576 -0.270  0.816  0.153728  1.178        Up

In [53]:
weekly['Direction'] = weekly['Direction'].map({'Down':0, 'Up':1})

In [62]:
# (a) Fit a logistic regression model that predicts Direction using Lag1 and Lag2.

X = weekly[['Lag1', 'Lag2']]
y = weekly['Direction']

lr = LogisticRegression().fit(X, y)

In [64]:
# (b) Fit a logistic regression model that predicts Direction using Lag1 and Lag2 using all but the first 
# observation.

X = weekly[['Lag1', 'Lag2']].drop(0, axis = 0)
y = weekly['Direction'].drop(0, axis=0)
lr = LogisticRegression()
lr.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [68]:
# (c) Use the model from (b) to predict the direction of the first observation. You can do this by predicting 
# that the first observation will go up if P(Direction="Up"|Lag1, Lag2) > 0.5. Was this observation correctly 
# classified?

X_test = weekly[['Lag1', 'Lag2']].loc[[0]]
y_test = weekly['Direction'].loc[0]

print(f'Predicted - {int(lr.predict(X_test))}, true value - {y_test}') # wrongly classified

X_test, y_test

Predicted - 1, true value - 0

(    Lag1   Lag2
 0  0.816  1.572,
 0)

In [69]:
# (d) Write a for loop from i = 1 to i = n, where n is the number of observations in the data set, that 
# performs each of the following steps:

score = []
for i in range(len(weekly)):
    X = weekly[['Lag1','Lag2']].drop(i,axis = 0)
    y = weekly['Direction'].drop(i,axis = 0)

    lr = LogisticRegression()
    lr.fit(X,y)
    
    X_test = weekly[['Lag1','Lag2']].loc[[i]]
    y_test = weekly['Direction'].loc[i]
    
    pred = int(lr.predict(X_test))
    score.append(int(pred == y_test))

In [70]:
# (e) Take the average of the n numbers obtained in (d)iv in order to obtain the LOOCV estimate for the 
# test error. Comment on the results.

print('Accuracy is ',np.mean(score))
print('LOOCV error is ',1 - np.mean(score))

Accuracy is  0.5500459136822773
LOOCV error is  0.4499540863177227